<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>color</key>
	<dict>
		<key>readTextColor</key>
		<string>#2F442E</string>
		<key>readBackgroundColor</key>
		<string>#D7ECD5</string>
		<key>menuBackgroundColor</key>
		<string>#E2F5E0</string>
		<key>menuLineBackgroundColor</key>
		<string>#30452E33</string>
		<key>menuNormalTextColor</key>
		<string>#30452E</string>
		<key>menuNormalTitleTextColor</key>
		<string>#2F442E</string>
		<key>menuSelectTextColor</key>
		<string>#00D0B9</string>
		<key>menuNightSelectTextColor</key>
		<string>#509BDE</string>
		<key>minimumTrackTintColor</key>
		<string>#00D030</string>
		<key>maximumTrackTintColor</key>
		<string>#1D2E1B66</string>
		<key>readBottomTextColor</key>
		<string>#2F442E99</string>
		<key>readFontSizeBackgroundColor</key>
		<string>#EAFFF3E6</string>
		<key>readFontSizeTextColor</key>
		<string>#04C088</string>
	</dict>
	<key>image</key>
	<dict>
		<key>navigationBackImage</key>
		<string>icon_read_back_green</string>
		<key>readCoverImage</key>
		<string>icon_read_cover_green</string>
		<key>readItemSelectImage</key>
		<string>icon_read_item_green_select</string>
		<key>readItemImage</key>
		<string>icon_read_item_green</string>
		<key>readLightLowImage</key>
		<string>icon_read_light_low_green</string>
		<key>readLightHightImage</key>
		<string>icon_read_light_high_green</string>
		<key>readSettingSelectImage</key>
		<string>read_setting_green_select</string>
		<key>readSettingImage</key>
		<string>read_setting_green</string>
		<key>readProgressImage</key>
		<string>read_progress_green</string>
		<key>readProgressSelectImage</key>
		<string>read_progress_green_select</string>
		<key>readNightImage</key>
		<string>read_night_green</string>
		<key>readNightSelectImage</key>
		<string>read_night_night_select</string>
		<key>readListImage</key>
		<string>read_list_green</string>
		<key>readListSelectImage</key>
		<string>read_list_green_select</string>
		<key>readListPositiveImage</key>
		<string>read_list_positive_green</string>
		<key>readListReversalImage</key>
		<string>read_list_reversal_green</string>
		<key>readSliderImage</key>
		<string>icon_read_slider_green</string>
		<key>readVoiceImage</key>
		<string>read_voice_green</string>
		<key>readAutoImage</key>
		<string>read_auto</string>
	</dict>
</dict>
</plist>
