<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>color</key>
	<dict>
		<key>readBackgroundColor</key>
		<string>#FFEEE7</string>
		<key>readTextColor</key>
		<string>#513F3F</string>
		<key>menuBackgroundColor</key>
		<string>#FFF7F3</string>
		<key>menuLineBackgroundColor</key>
		<string>#7F666633</string>
		<key>menuNormalTextColor</key>
		<string>#514040</string>
		<key>menuNormalTitleTextColor</key>
		<string>#7F666699</string>
		<key>menuSelectTextColor</key>
		<string>#FC7F81</string>
		<key>menuNightSelectTextColor</key>
		<string>#509BDE</string>
		<key>minimumTrackTintColor</key>
		<string>#FF9B7A</string>
		<key>maximumTrackTintColor</key>
		<string>#7F666666</string>
		<key>readBottomTextColor</key>
		<string>#7F666699</string>
		<key>readFontSizeBackgroundColor</key>
		<string>#FFDCDC4D</string>
		<key>readFontSizeTextColor</key>
		<string>#FE887F</string>
	</dict>
	<key>image</key>
	<dict>
		<key>navigationBackImage</key>
		<string>icon_read_back_pink</string>
		<key>readCoverImage</key>
		<string>icon_read_cover_pink</string>
		<key>readItemSelectImage</key>
		<string>icon_read_item_pink_select</string>
		<key>readItemImage</key>
		<string>icon_read_item_pink</string>
		<key>readLightLowImage</key>
		<string>icon_read_light_low_pink</string>
		<key>readLightHightImage</key>
		<string>icon_read_light_high_pink</string>
		<key>readSettingSelectImage</key>
		<string>read_setting_pink_select</string>
		<key>readSettingImage</key>
		<string>read_setting_pink</string>
		<key>readProgressImage</key>
		<string>read_progress_pink</string>
		<key>readProgressSelectImage</key>
		<string>read_progress_pink_select</string>
		<key>readNightImage</key>
		<string>read_night_pink</string>
		<key>readNightSelectImage</key>
		<string>read_night_night_select</string>
		<key>readListImage</key>
		<string>read_list_pink</string>
		<key>readListSelectImage</key>
		<string>read_list_pink_select</string>
		<key>readListPositiveImage</key>
		<string>read_list_positive_pink</string>
		<key>readListReversalImage</key>
		<string>read_list_reversal_pink</string>
		<key>readSliderImage</key>
		<string>icon_read_slider_pink</string>
		<key>readVoiceImage</key>
		<string>read_voice_pink</string>
		<key>readAutoImage</key>
		<string>read_auto</string>
	</dict>
</dict>
</plist>
