<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>color</key>
	<dict>
		<key>readTextColor</key>
		<string>#3E3417</string>
		<key>readBackgroundColor</key>
		<string>#F5F0DB</string>
		<key>menuBackgroundColor</key>
		<string>#FFFCF0</string>
		<key>menuLineBackgroundColor</key>
		<string>#3E351733</string>
		<key>menuNormalTextColor</key>
		<string>#3E3517</string>
		<key>menuNormalTitleTextColor</key>
		<string>#514C3C99</string>
		<key>menuSelectTextColor</key>
		<string>#EE9200</string>
		<key>menuNightSelectTextColor</key>
		<string>#509BDE</string>
		<key>minimumTrackTintColor</key>
		<string>#FFCE7F</string>
		<key>maximumTrackTintColor</key>
		<string>#918B7A66</string>
		<key>readBottomTextColor</key>
		<string>#514C3C99</string>
		<key>readFontSizeTextColor</key>
		<string>#EE9200</string>
		<key>readFontSizeBackgroundColor</key>
		<string>#FFF1C74D</string>
	</dict>
	<key>image</key>
	<dict>
		<key>navigationBackImage</key>
		<string>icon_read_back_yellow</string>
		<key>readCoverImage</key>
		<string>icon_read_cover_yellow</string>
		<key>readItemSelectImage</key>
		<string>icon_read_item_yellow_select</string>
		<key>readItemImage</key>
		<string>icon_read_item_yellow</string>
		<key>readLightLowImage</key>
		<string>icon_read_light_low_yellow</string>
		<key>readLightHightImage</key>
		<string>icon_read_light_high_yellow</string>
		<key>readSettingSelectImage</key>
		<string>read_setting_yellow_select</string>
		<key>readSettingImage</key>
		<string>read_setting_yellow</string>
		<key>readProgressImage</key>
		<string>read_progress_yellow</string>
		<key>readProgressSelectImage</key>
		<string>read_progress_yellow_select</string>
		<key>readNightImage</key>
		<string>read_night_yellow</string>
		<key>readNightSelectImage</key>
		<string>read_night_night_select</string>
		<key>readListImage</key>
		<string>read_list_yellow</string>
		<key>readListSelectImage</key>
		<string>read_list_yellow_select</string>
		<key>readListPositiveImage</key>
		<string>read_list_positive_yellow</string>
		<key>readListReversalImage</key>
		<string>read_list_reversal_yellow</string>
		<key>readSliderImage</key>
		<string>icon_read_slider_yellow</string>
		<key>readVoiceImage</key>
		<string>read_voice_yellow</string>
		<key>readAutoImage</key>
		<string>read_auto</string>
	</dict>
</dict>
</plist>
